.photoset_container {
    height: 100%;
    text-align: center;

    .photoset_box {
        width: 365px;
        height: 600px;;
        display: inline-block;
        text-align: center;
        img {
            max-height: 90%;
            width: auto;
            margin: 10px auto;
        }

        .placeholder {
            max-height: 90%;
            width: auto;
            visibility: hidden;
        }
    }
}