.photoset_container {
    height: 100%;
    text-align: center;

    .photoset_box {
        max-width: 400px;
        height: 600px;;
        display: inline-block;
        text-align: center;
        margin: 0 5px;
        img {
            max-height: 90%;
            width: auto;
            margin: 10px auto;
        }
    }
}