.photoset_container {
    height: 100%;
    text-align: center;

    .photoset_box {
        width: 32%;
        display: inline-block;
        text-align: center;
        img {
            width: 100%;
            margin: 10px auto;
        }

        .placeholder {
            width: 100%;
            visibility: hidden;
        }
    }
}