.app-container {
    margin: 0 auto;
    max-width: 1240px;
    position: relative;
    @media only screen 
        and (max-device-width: 740px) 
            { 
                transform: none !important;
                -webkit-transform: none !important;
        }

        @media only screen and (min-width: 1500px) {
        /* Large screen, non-retina */
            top: 50%;
            transform: translateY(30%);
        }

        @media
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1500px),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1500px),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1500px),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1500px),
        only screen and (                min-resolution: 192dpi) and (min-width: 1500px),
        only screen and (                min-resolution: 2dppx)  and (min-width: 1500px) { 
        /* Large screen, retina, stuff to override above media query */
            top: 50%;
            transform: translateY(30%);
        }

    .header {
        text-align: right;
        padding: 2em 0 1em 0;
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: black;
            margin-right: 6px;
            font-size: 22px;
            letter-spacing: 0.57px;
        }
    }

    .content {
        width: 100%;
        margin: 0 auto;
        height: 600px;
        display: inline-block;
    }

    .footer {
        padding: 1em 0 1em 0;
        width: 90%;
        margin: 0 auto;

        .footer_content {
            width: 49%;
            display: inline-block;
        }

        .info_link {
            text-align: left;
            a {
                text-decoration: none;
                margin-left: 8px;
                color: #9B9B9B;
                font-size: 22px;
                letter-spacing: 0.57px;
            }
        }

        .counter {
            text-align: right;
            p {
                margin-right: -10px;
            }
        }
    }
}

.right_nav {
    width: 49%;
    height: 600px;
    z-index: 10;
    top: 60px;
    right: 0;
    position: fixed;
    &:hover {
        cursor: url('/assets/imgs/rightArrow@1x.png'), e-resize;
    }
        @media only screen 
        and (max-device-width: 740px) 
            { 
                top: 10px;
        }
}

.left_nav {
    width: 49%;
    height: 600px;
    z-index: 10;
    top: 60px;
    left: 0;
    position: fixed;
    &:hover {
        cursor: url('/assets/imgs/leftArrow@1x.png'), w-resize;
    }
    @media only screen 
        and (max-device-width: 740px) 
            { 
                top: 10px;
        }
}

.show_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
    animation-name: fadeIn;
    animation-duration: 1s;
    z-index: 20;
}

@keyframes fadeIn {
    from {background-color: #efefef; opacity: 0;}
    to {background-color: #000000; opacity: 1;}
}

.hide_overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
@keyframes fadeOut {
    from {opacity: 1; background-color: #000000;}
    to {opacity: 0; background-color: #efefef;}
}

.hide_overlay_animation {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    animation-name: fadeOut;
    animation-duration: 1s;
}

.info_table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    @media only screen 
        and (max-device-width: 740px)
            {
                top: 20px;
            }
}

.app-container_info {
    margin: 0 auto;
    max-width: 1240px;
    @media only screen 
        and (max-device-width: 740px) 
            { 
                transform: none !important;
                -webkit-transform: none !important;
        }

        @media only screen and (min-width: 1500px) {
        /* Large screen, non-retina */
            transform: translateY(30%);
    -webkit-transform: translateY(30%);
        }

        @media
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1500px),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1500px),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1500px),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1500px),
        only screen and (                min-resolution: 192dpi) and (min-width: 1500px),
        only screen and (                min-resolution: 2dppx)  and (min-width: 1500px) { 
        /* Large screen, retina, stuff to override above media query */
            transform: translateY(30%);
    -webkit-transform: translateY(30%);
        }
        .header {
        text-align: right;
        padding: 2em 0 1em 0;
        font-size: 16px;
        width: 89%;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: black;
            font-size: 22px;
            letter-spacing: 0.57px;
        }
    }

    .content {
        width: 100%;
        margin: 0 auto;
        height: 600px;
        display: inline-block;
    }

    .footer {
        padding: 1em 0 1em 0;
        width: 89%;
        margin: 0 auto;

        @media only screen
            and (max-device-width: 740px)
                {
                    margin-top: 20px;
                    margin-bottom: 0;
                    margin-left: auto;
                    margin-right: auto;
                }

        .footer_content {
            width: 49%;
            display: inline-block;
        }

        .info_link {
            text-align: left;
            a {
                text-decoration: none;
                margin-left: 8px;
                font-size: 22px;
                letter-spacing: 0.57px;
            }
        }

        .counter {
            text-align: right;
        }
    }
}