.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #efefef;
    @media only screen
        and (min-device-width:740px){
            display:flex;
            justify-content: center;
        }
}

@keyframes fadeIn {
    from {background-color: #efefef;}
    to {background-color: #000000;}
}

.app-container {
    margin: 0 auto;
    max-width: 1240px;
    position: relative;
    @media only screen
        and (min-device-width:740px){
            align-self:center;
        }
    .header {
        text-align: right;
        padding: 2em 0 1em 0;
        font-size: 16px;
        width: 93%;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: black;
            margin-right: 6px;
            font-size: 22px;
            letter-spacing: 0.57px;
        }
    }

    .info_header {
        color: white !important;
    }

    .content {
        width: 95%;
        margin: 0 auto;
    }
}

.right_nav {
    width: 49%;
    height: 60%;
    z-index: 10;
    top: 15%;
    right: 0;
    position: absolute;
    &:hover {
        cursor: url('/assets/imgs/rightArrow@1x.png'), e-resize;
    }
        @media only screen 
        and (max-device-width: 740px) 
            { 
                top:6em;
                height: 40%;
        }
}

.left_nav {
    width: 49%;
    height: 60%;
    z-index: 10;
    top: 15%;
    left: 0;
    position: absolute;
    &:hover {
        cursor: url('/assets/imgs/leftArrow@1x.png'), w-resize;
    }
    @media only screen 
        and (max-device-width: 740px) 
            { 
                top:6em;
                height: 40%;
        }
}

.show_overlay {
    background-color: #000000;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.footer {
        padding: 1em 0 1em 0;
        width: 100%;
        margin: 0 auto;
        position: relative;
        bottom: 5px;
        left: 0;
        right: 0;
        @media only screen
            and (max-device-width:740px)
            {
                padding: 0;
                position:fixed;
            }
        .footer_block {
            width: 32%;
            display: inline-block;
            &:first-child {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .toggle_link {
            font-size:22px;
            vertical-align: top;
            text-decoration:none;
            margin-left: 1em;
        }
    }
.insta_link {
            color:white;
            text-decoration:none;
            }
.category_title_box {
    display:inline-block;
    vertical-align: top;
    width: 30%;
    margin: 3em auto 0 auto;
    @media only screen 
        and (max-device-width: 740px) 
            { 
                margin: 1em auto 0 auto;
                width: 50%;
            }
}

.category_content_box {
    display: inline-block;
    width: 69%;
    margin: 2em auto 0 auto;
    @media only screen 
        and (max-device-width: 740px) 
            { 
                margin: 1em auto 0 auto;
                font-size: 16px !important;
                width: 90%;
            }
    &.list_box {
        margin-top: 2.8em;
        margin-bottom: 8.5em;
        @media only screen
            and (max-device-width: 740px)
            {
                margin-top: 1em !important;
                margin-bottom: 1em !important;
            }
        ul {
            @media only screen 
                and (max-device-width: 740px)
                {
                    font-size:16px !important;
                }
        }
    }
}

.info_footer_block {
    @media only screen
        and (max-device-width: 740px)
        {
            width: 100% !important;
            display:block !important;
            text-align: left !important;
            margin-left: 10px;
        }
}

.info_footer_close {
    @media only screen
        and (max-device-width: 740px)
        {
            float:left;
        }
}