<div class="wrapper" [ngClass]="{'show_overlay':showInfo}">
  <div class="app-container">
    <div class="header">
      <a class="home_link" (mouseover)="onMouseOver()" [ngClass]="{'info_header':showInfo}">FRANKIE ALDUINO</a>
    </div>
    <div
      class="social__media-container"
      [ngClass]="{'social__media-show': showSocialMedia}"
      (mouseleave)="onMouseLeave()"
    >
      <ul
        class="social__media-list"
      >
        <li>
          <a href="mailto:studio@frankiealduino.com">
            studio@frankiealduino.com
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.instagram.com/frankiealduino/"
          >
            Instagram
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/frankie-alduino-0957b2aa/"
          >
            Linkedin
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      <photo-roll
        *ngIf="!showInfo"
        (photoCount)="updatePhotoCount($event)"
      ></photo-roll>
      <personal-info
        *ngIf="showInfo"
      ></personal-info>
    </div>
    <div class="footer">
      <div class="footer_block" [ngClass]="{'info_footer_close':showInfo}">
        <a style="color:#9B9B9B;" class="toggle_link" *ngIf="!showInfo" (click)='toggleInfo()'>INFO</a>
        <a style="color:white;"class="toggle_link" *ngIf="showInfo"  (click)='toggleInfo()'>CLOSE</a>
      </div>
      <div class="footer_block" [ngClass]="{'info_footer_block': showInfo}">
        <a *ngIf="showInfo" style="text-decoration:none;color:white;" href="mailto:studio@frankiealduino.com">studio@frankiealduino.com</a>
      </div>
      <div class="footer_block" [ngClass]="{'info_footer_block': showInfo}">
        <p *ngIf="!showInfo" style="text-align:right;">{{photoCount}} &#8212; 26</p>
        <a *ngIf="showInfo" target="_blank" href="https://www.instagram.com/frankiealduino/" class="insta_link">Instagram: @frankiealduino</a>
      </div>
    </div>
  </div>
</div>
