<div class="personal-info_container">
  <div class="category_title_box">
    <p>About</p>
  </div>
  <div class="category_content_box" style="font-size:20px;line-height:1.4;">
    Frankie Alduino earned his BFA in Photography from the University of Central Florida. A current resident of New York, Alduino cut his teeth at The Richard Avedon Foundation and thereafter transitioned to work in-house at Annie Leibovitz Studio. He has acquired a visual vocabulary steeped in the richest history of portraiture.
  </div>
  <div class="category_title_box">
    <p>Production Work (Abridged)</p>
  </div>
  <div class="category_content_box list_box">
    <ul style="font-size:20px;line-height:1.4;margin-left:5px;">
      <li>2016 &#8212; Vogue &#8212; Adele</li>
      <li>2016 &#8212; Vogue &#8212; Michelle Obama</li>
      <li>2016 &#8212; Moncler F/W</li>
      <li>2016 &#8212; Pirelli</li>
      <li>2015 &#8212; Vogue &#8212; Angelina Jolie</li>
      <li>2015 &#8212; Dunhill S/S</li>
      <li>2014 &#8212; Vogue &#8212; Amy Adams</li>
      <li>2014 &#8212; Louis Vuitton F/W</li>
      <li>2014 &#8212; Prada F/W</li>
    </ul>
  </div>
</div>
